.footer {
  &__container {
    display: flex;
    flex-direction: column;

    margin: auto;

    justify-content: center;

    @media @viewport-tablet {
      justify-content: center;
      align-items: center;
    }

    @media @viewport-desktop {
      width: 400px;

      justify-content: flex-start;
      flex-grow: 0;
      align-items: flex-start;
    }
  }
}
