.footer {
  &__container {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    flex-grow: 0;
    align-items: flex-end;

    @media @viewport-tablet {
      width: 50%;
    }
  }
}
