.header {
  display: block;

  &__container {
    padding-top: 100px;

    background-image: url("http://lidercolor.ru/res/img/logo_home.gif"),
                      url("http://lidercolor.ru/res/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
