.nav {
  &__list {
    display: flex;
    flex-direction: row;

    padding-left: 0;

    list-style: none;

    background-image: linear-gradient(to bottom, #fff, #fafafa, #f4f4f4, #efefef, #eaeaea);

    flex: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

  &__item {
    min-width: 100px;
  }

  &__link {
    padding: 60px 30px;

    text-decoration: none;

    color: @color-black;

    &:focus,
    &:hover {
      color: #a92920;
    }
  }
}
