.promo {
  &__container {
    display: flex;
    flex-direction: column;

    padding: 0 15px;
  }

  &__catalog-title {
    font-weight: bold;


    padding: 10px;
    padding-left: 20px;

    cursor: pointer;

    color: @color-white;
    border-bottom: 1px solid @color-white;
    background-color: lighten(@base-color, 30%);

    transition: padding-left 1s;
  }

  &__catalog-title:hover {
    padding-left: 30px;
  }

  &__catalog-description {
    margin: 0;
    padding-left: 0px;


    @media @viewport-desktop {
      max-height: 0;
      overflow: hidden;

    }
  }

  &__catalog-title:hover + &__catalog-description, &__catalog-description:hover {
    display: block;
    max-height: 100%;
    padding-left: 40px;

    transition: max-height 4s;
    transition: padding-left 1s;
  }
}
