* {
  box-sizing: border-box;
}

body {
  font-family: @font-family;
  font-size: @font-size--mobile;
  line-height: @line-height--mobile;

  @media @viewport-tablet {
    font-size: @font-size--tablet;
    line-height: @line-height--tablet;
  }

  @media @viewport-desktop {
    font-size: @font-size--desktop;
    line-height: @line-height--desktop;
  }

  background-color: @bg-gray;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: @font-family;
}

h1 {
  font-size: 30px;
  line-height: 36px;

  @media @viewport-tablet {
    font-size: 36px;
    line-height: 45px;
  }

  @media @viewport-desktop {
    font-size: 48px;
    line-height: 60px;
  }

  @media @viewport-retina {
    font-size: 48px;
    line-height: 60px;
  }

  @media @viewport-more {
    font-size: 60px;
    line-height: 75px;
  }
}

h2 {
  font-size: 26px;
  line-height: 33px;

  @media @viewport-tablet {
    font-size: 30px;
    line-height: 38px;
  }

  @media @viewport-desktop {
    font-size: 40px;
    line-height: 50px;
  }

  @media @viewport-retina {
    font-size: 44px;
    line-height: 55px;
  }

  @media @viewport-more {
    font-size: 54px;
    line-height: 68px;
  }
}

h3 {
  font-size: 24px;
  line-height: 30px;

  @media @viewport-tablet {
    font-size: 26px;
    line-height: 33px;
  }

  @media @viewport-desktop {
    font-size: 32px;
    line-height: 40px;
  }

  @media @viewport-retina {
    font-size: 36px;
    line-height: 45px;
  }

  @media @viewport-more {
    font-size: 36px;
    line-height: 45px;
  }
}
.main {
}

.container {
  max-width: 650px;

  &:not(.footer__container) {
    margin: auto;
  }

  @media @viewport-tablet {
    max-width: 580px;

    background-color: @color-white;
  }

  @media @viewport-desktop {
    max-width: 1050px;
  }

  @media @viewport-retina {
    max-width: 1230px;
  }

  @media @viewport-more {
    max-width: 1550px;
  }
}

.headline {
  font-family: @font-family;
}


.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}
