@font-family: Arial, tahoma,  sans-serif;
@font-size: 12px;
@line-height: 20px;

@font-size: ;
@base-color: #00000;
@color-blue: #1a4287;
@color-darkblue: #0e2245;
@color-gray: #eaeaea;

@bg-gray: @color-gray;

@viewport-mobile: ~"only screen and (max-width: 679px)";
@viewport-tablet: ~"only screen and (min-width: 680px)";
@viewport-desktop: ~"only screen and (min-width: 1050px)";
