@font-family: Arial, tahoma,  sans-serif;

@font-size--mobile: 12px;
@line-height--mobile: 20px;
@font-size--tablet: 14px;
@line-height--tablet: 21px;
@font-size--desktop: 16px;
@line-height--desktop: 24px;

@headline-size--mobile: 36px;
@headline-height--mobile: 45px;
@headline-size--tablet: 48px;
@headline-height--tablet: 60px;
@headline-size--desktop: 48px;
@headline-height--desktop: 60px;


@base-color: #182c61;
@color-althernative: #a92920;
@color-black: #000000;
@color-blue: #1a4287;
@color-darkblue: #0e2245;
@color-red: #a92920;
@color-gray: #eaeaea;
@color-white: #ffffff;

@bg-gray: @color-gray;

@viewport-mobile: ~"only screen and (max-width: 679px)";
@viewport-tablet: ~"only screen and (min-width: 680px)";
@viewport-desktop: ~"only screen and (min-width: 1050px)";
@viewport-retina: ~"only screen and (min-width: 1280px)";
@viewport-more: ~"only screen and (min-width: 1600px);"
